---
const { href, text } = Astro.props;
---

<li class="text-white text-lg font-bold bg-[#976FF1] py-2.5 px-3.5 rounded-r-4xl hover:cursor-pointer hover:bg-[#7806F1] transition-colors duration-300">
    <a href=`${href}`>{text}</a>
</li>
